<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="logPath" value="D:/Jay/Documents/Email_Project/Send_Email/Email_logfiles.txt"/>
    <add key="username" value="Jevon"/>
    <add key="emailAddress" value="medbc213@gmail.com"/>
    <add key="password" value="NYJets4life!"/>
  </appSettings>
</configuration>